body {
  text-align: center;
  background-image: url('/img/ARS-103-1080.jpg');
  background-size: cover;
  background-color: #f7f3f4;
  color: #f7f3f4; 
  text-shadow: 1px 1px 3px #000000;  
}
header {
  font-size: large;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main {
  font-size: medium;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
footer {
  font-size: small;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}